@import url("global.css");

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 128px;
}

.cursor {
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 2em;
}

#cursor {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monitor {
    background-color: #ffe2bb;
    padding: 64px;
    border-radius: 24px;
    border: 12px solid;
    border-color: #fff #ccc #ccc #fff;
    z-index: 3;
}

.terminal-content {
    width: 525px;
    height: 394px;
    padding: 24px;
    background-color: #262626;
    border: 12px solid;
    border-color: #ccc #fff #fff #ccc;
    border-radius: 16px;
}

.mount {
    width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mount-top,
.mount-middle,
.mount-bottom {
    height: 32px;
    background-color: #ffe2bb;
    border: 12px solid;
    border-color: #fff #ccc #ccc #fff;
}

.mount-top {
    width: 512px;
    margin: -12px;
    z-index: 2;
}

.mount-middle {
    width: 256px;
    margin: -12px;
    margin-top: 0px;
    z-index: 1;
}

.mount-bottom {
    width: 448px;
    border-radius: 16px 16px 0px 0px;
    z-index: 2;
}

.case {
    width: 800px;
    height: 200px;
    background-color: #ffe2bb;
    margin-top: -12px;
    border: 12px solid;
    border-radius: 12px;
    border-color: #fff #ccc #ccc #fff;
    z-index: 2;
}

.case-content {
    margin: 32px 48px;
    display: flex;
}

.inset {
    height: 64px;
    width: 320px;
    background-color: #a3a3a3;
}

@media (max-width: 480px) {
    main {
        margin: 16px 8px;
    }

    .monitor {
        box-sizing: border-box;
        padding: 24px;
        width: 100%;
    }

    .terminal-content {
        width: auto;
        height: 200px;
        padding: 16px;
    }

    .cursor {
        font-size: 1em;
    }

    .mount-top {
        width: 60%;
    }

    .mount-bottom {
        width: 60%;
    }

    .case {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .case-content {
        flex-direction: column;
        margin: 16px;
        gap: 16px;
    }

    .inset {
        width: 100%;
    }
}